body{
	text-align:center;
}

ul{
	display:block;
}

.controls{
	float:right;
}

#stats p{
	color:red;
}
#home{
	background-color: #dfe4ea;
}
#add{
	background-color: #dfe4ea;
}
#edit{
	background-color: #dfe4ea;
}
